body {
    padding-bottom: 20px;
}

.bar {
    padding: 1rem;
}

.controls {
    padding: 1rem;
    margin-bottom: 1rem;
}

.controls .btn {
    margin-right: 5px;
    width: 100%;
}

.progress-bar {
    transition: none;
}

.check-inline {
    padding-left: 1.25rem;
}
